.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  height: 14vw;
  position: relative;
  top: auto;
  left: auto;
  padding-top: 2vw;
}

.image {
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 29vw;
  max-width: 29vw;
  height: 16vw;
  border: 2px solid gold;
  padding-bottom: 30px;
  background-image: linear-gradient(#94bbe9, #eeaeca);
  box-shadow: 5px 5px;
}

.pokemon-viewer {
  margin: auto;
  margin-top: 50px;
  width: 25vw;
  height: 40vw;
  border: 10px solid #ffcc00;
  padding: 50px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 4px;
  font-family: "Gill Sans", "Gill Sans MT", "Cabin", sans-serif;
  text-shadow: 0 0 0.05em rgba(black, 0.35);
  font-size: 1.7vw;
  position: relative;
}

ul {
  width: 50%;
  margin: auto;
  margin-top: 100%;
  padding: 0;
}

h1 {
  font-weight: bolder;
  font-size: 3vw;
}

h1::first-letter {
  text-transform: uppercase;
}

li::first-letter {
  text-transform: uppercase;
}

li {
  font-weight: bold;
}

button {
  background-image: linear-gradient(#ffcc00, orange);
  border: 4px solid red;
  border-radius: 5px;
  margin-top: 20px;
  margin-inline: 5px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  height: 80px;
  font-family: "Gill Sans", "Gill Sans MT", "Cabin", sans-serif;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  box-shadow: 5px 10px;
}

button:hover {
  background-image: linear-gradient(#94bbe9, #eeaeca);
  border: 4px solid #ffcc00;
  box-shadow: 2px 10px;
}

button:active {
  background-image: linear-gradient(#ffcc00, orange);
  box-shadow: 0px 1px;
  border: 4px solid red;
  transform: translateY(4px);
}

.loading {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#94bbe9, #eeaeca);
  position: absolute;
  border-radius: 10px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", "Cabin", sans-serif;
  text-shadow: 0 0 0.05em rgba(black, 0.35);
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

/* @keyframes loading {
  from {
    background-color: #eeaeca;
  }
  to {
    background-color: #94bbe9;
  }
} */

.poke-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pokeList {
  position: relative;
  margin: auto;
}
